doctype html
html
  head
    title Groop
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content="width=device-width, initial-scale=1")
  body
    script(src='/components/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
        //- .navbar-header
          //- button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          //- a.navbar-brand(href='/') Groop
        //- #navbar.navbar-collapse.collapse
        //-   
        //-   ul.nav.navbar-nav.navbar-right
        //-     li#giz
        //-       a Gizlilik
        //-     li#bas
        //-       a Basinda Groop
    div#blockcontent
      block content
